<div class="search-form">
  <%= form_with url: search_path, class: "search-form", method: :get, local: true do |f| %>
    <%= f.text_field :keyword, value: @keyword, placeholder: "投稿を検索する", class: "search-input" %>
    <%= f.submit "検索", class: "search-btn" %>
  <% end %>
</div>
<div class="contents">
  <% @tweets.each do |tweet| %>
  <div class = "box">
    <p><%= link_to safe_join(tweet.text.split("\n"),tag(:br)), tweet_path(tweet.id) %></p>
    <% if user_signed_in? && current_user.id == tweet.user_id %>
      <p class = "more_list">
        <%= link_to '編集', edit_tweet_path(tweet.id), method: :get %>
        <%= link_to '削除', tweet_path(tweet.id), method: :delete %>
      </p>
    <% end %>
  </div>
  <% end %>
</div>