<div class="contents">
  <div class = "box">
    <span class="name">
      <%= link_to "#{@tweet.user.nickname}", user_path(@tweet.user.id) %>
    </span>
    <p><%= safe_join(@tweet.text.split("\n"),tag(:br)) %></p>
    <% if user_signed_in? && current_user.id == @tweet.user_id %>
      <p class = "more_list">
        <%= link_to '編集', edit_tweet_path(@tweet.id), method: :get %>
        <%= link_to '削除', tweet_path(@tweet.id), method: :delete %>
      </p>
    <% else %>
      <div id="like-box">
        <% if current_user && current_user.like_for?(@tweet) %>
          <%= link_to like_tweet_path(@tweet), method: :patch do %>
            ♥<%= @tweet.likes.count %> いいね
          <% end %>
        <% elsif current_user && current_user.dele_for?(@tweet) %>
          <%= link_to unlike_tweet_path(@tweet), method: :patch do %>
            ♡<%= @tweet.likes.count %> いいね
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
<div class="container">
  <% if user_signed_in? %>
    <%= form_with(model: [@tweet, @comment], local: true) do |form| %>
      <%= form.text_area :content, placeholder: "コメントする", rows: "3", cols: "50", onKeyUp: "countLength(value, 'contentlength');" %>
      <p id="contentlength">0文字/150</p>
      <script>
        function countLength( content, field ) {
          document.getElementById(field).innerHTML = content.length + "文字/150";
        }
      </script>
      <%= form.submit "送信する", class: :form__btn2 %>
    <% end %>
  <% end %>
  <div class="comments_list">
    <% @comments.each do |comment| %>
      <div class = "box_com">
        <div class="box_com_tape"> </div>
        <p class="name">
          <%= comment.user.nickname %>さん
        </p>
        <p class="com_con">
          <%= safe_join(comment.content.split("\n"),tag(:br)) %>
        </p>
        <% if user_signed_in? && current_user.id == comment.user_id %>
          <p class="comment_del">
            <%=link_to "削除", tweet_comment_path(@tweet, comment), method: :delete %>
          </p>
        <% end %>
      </div>
    <% end %>
  </div>
<div>