<div class="mypage">
  <p class="mypage_list"><%= link_to "#{@nickname}さんのいいね一覧へ", tweet_like_path(current_user.id), method: :get %></p>
  <p><%= @nickname %>さんの投稿一覧</p>
  <% @tweets.each do |tweet| %>
    <div class = "box">
      <p><%= link_to safe_join(tweet.text.split("\n"),tag(:br)), tweet_path(tweet.id) %></p>
      <% if user_signed_in? && current_user.id == tweet.user_id %>
        <p class = "more_list">
          <%= link_to '編集', edit_tweet_path(tweet.id), method: :get %>
          <%= link_to '削除', tweet_path(tweet.id), method: :delete %>
        </p>
      <% end %>
    </div>
  <% end %>
</div>